.button {
    background-color: deepskyblue;
    border-radius: 4px;
    border: none;
    padding: 8px;
    color: white;
    text-decoration: none;
    transition: all linear 0.2s;
}

.button:hover {
    background-color: dodgerblue;
    transition: all linear 0.2s;
    cursor: pointer;
}

.page-content {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

input, select {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 4px;
    font-size: 16px;
}

input[type=number] {
    width: 80px;
} 

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field > input, select {
    margin: 0 10px;
}

.input-num-group {
    margin: 0 10px;
}

.vertical-list {
    display: grid;
    grid-row-gap: 8px;
}

.horizontal-list {
    display: grid;
    grid-column-gap: 8px;
}

.horizontal-list > div {
    grid-row: 1;
}

.centered {
    width: fit-content;
    margin: auto;
}

.functionality-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

#user-registration {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 40px;
    grid-template-areas:
        "fname lname"
        "username ."
        "pw confirmpw";
}

#customer-registration {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 40px;
    grid-template-areas: 
        "fname lname" 
        "username ." 
        "pw confirmpw"
        "creditcards creditcards";
}

#manager-registration {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 40px;
    grid-template-areas: 
        "fname lname" 
        "username company" 
        "pw confirmpw" 
        "street street"
        "city state"
        "zip .";
}

#manager-customer-registration {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 40px;
    grid-template-areas: 
        "fname lname" 
        "username company" 
        "pw confirmpw" 
        "street street" 
        "city state" 
        "zip ."
        "creditcards creditcards";
}

#create-theater {
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 40px;
    grid-template-areas:
        "name company"
        "street street"
        "city state"
        "zip ."
        "capacity manager";
}

.input-fname {
    grid-area: fname;
}

.input-lname {
    grid-area: lname;
}

.input-username {
    grid-area: username;
}

.input-company {
    grid-area: company;
}

.input-pw {
    grid-area: pw;
}

.input-confirmpw {
    grid-area: confirmpw;
}

.input-street {
    grid-area: street;
}

.input-street > input {
    flex-grow: 1;
}

.input-city {
    grid-area: city;
}

.input-state {
    grid-area: state;
}

.input-zip {
    grid-area: zip;
}

.input-capacity {
    grid-area: capacity;
}

.input-manager {
    grid-area: manager;
}

.credit-card-nums {
    grid-area: creditcards;
    display: flex;
    justify-content: center;
}

.credit-card-nums > .vertical-list {
    margin-left: 20px;
}

.card-button {
    background-color: white;
    border-radius: 4px;
    border: 1px solid darkgrey;
    padding: 4px;
    color: black;
    font-size: 12px;
    transition: all linear 0.2s;
}

.card-button:hover {
    background-color: lightgrey;
    transition: all linear 0.2s;
    cursor: pointer;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info > div {
    margin-left: 10px;
}

.card-info > input[type=number] {
    width: 200px;
} 

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 0.2s ease;
}

.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.left-aligned {
    display: flex;
    justify-content: start;
}